.ChangeName {
    height: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.DisplayNameText {
    padding: 1rem 0;
}

.DisplayNameInput:focus {
    color: #555;
}

/* .test {
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
} */